[user]
	name = Anthony Garcia
	email = anthony@lagg.me
[color]
	ui = auto
[push]
	default = simple
[apply]
	whitespace = fix
[diff]
	algorithm = histogram
[alias]
	l = log --decorate=auto --graph --all --pretty --notes
	d = diff
	dc = diff --cached
[init]
	defaultBranch = master
