[user]
	name = Anthony Garcia
	email = anthony@lagg.me
[color]
	ui = auto
[push]
	default = simple
[apply]
	whitespace = fix
[alias]
	l = log --decorate --graph --all --pretty --notes
	d = diff --minimal
	dc = diff --minimal --cached
